body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .centered {
    text-align: center;
    position: relative;
    padding: 10px 5px;
  }
  
  .line {
    border-top: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  h1 {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-family: 'Metropolis', Arial, sans-serif;
    font-weight: 500;
    font-size: 18.08px;
    padding: 0px 15px;
    line-height: 18.08px;
    color: #007F61;
  }
  
  .box-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .box {
    padding: 0px 10px 5px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #C8C8C8; 
    border-radius: 5px;
    position: relative;
  }
  
  .box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
  }
  
  
  .circle-checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
 input[type="checkbox"] {
    display: none;
  }
  
  label {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  label:before {
    content: "\2713";
    display: block;
    text-align: center;
    line-height: 24px;
    color: transparent;
  }
  
  input[type="checkbox"]:checked + label:before {
    color: black;
  }
  
  input[type="checkbox"]:checked ~ .box {
    background-color: #F4FBF9;
  }
  
  .pairs {
    display: flex;
    font-size: 14px;
  }
  
  .pairs span {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .hidden-dropdown {
    display: none;
    max-height: 150px; 
    overflow-y: auto; 
  }
  
  .visible-dropdown {
    display: block;
    margin-top: 10px;
  }
  
  
  .shipping,
  .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .powered-by {
    display: flex;
    justify-content: flex-end;
  }
  
  .powered-by span {
    font-style: italic;
    font-size: 12px;
    line-height: 14.52px;
  }
  
  .powered-by .copyright {
    margin-right: 5px;
  }

  .button {
    color: white;
    width: 311px;
    height: 48px;
    top: 130px;
    left: -41px;
    border-radius: 4px 4px 4px 0px;
  }
.circle-checkbox label {
    position: relative;
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .circle-checkbox input[type="checkbox"]:checked + label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #007F61;
    display: block;
  }
  
  
  
  
  
